{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "type": "auto",
    "source": "{{ ternary `arch` `auto` (eq .profile `cachyos`) }}",
    "padding": {
      "top": 0,
      "left": 0,
      "right": 0,
      "bottom": 0
    },
    "color": {
      "1": "#63d3de",
      "2": "#63cbcf"
    }
  },
  "modules": [
    "title",
    "separator",
    "os",
    "host",
    "kernel",
    "packages",
    "de",
    "wm",
    "wmtheme",
    "display",
    "shell",
    "terminal",
    "terminalfont",
    "cpu",
    "gpu",
    "memory",
    "disk",
    {
      "type": "colors",
      "symbol": "block"
    }
  ],
  "display": {
    "color": {
      "keys": "#81d3de",
      "title": "#b1cbcf"
    },
    "percent": {
      "color": {
        "green": "#b9c6ea",
        "yellow": "#81d3de",
        "red": "#ffb4ab"
      }
    }
  }
}
