{{- $name := promptStringOnce . "git.name" "Git name" -}}
{{- $email := promptStringOnce . "git.email" "Git email" -}}
{{- $signingKey := promptStringOnce . "git.signingKey" "Git SSH signing key" -}}

[data.git]
name = {{ $name | quote }}
email = {{ $email | quote }}
signingKey = {{ $signingKey | quote }}
