[user]
    name = Omar Sadat
    email = 89240639+ohmrr@users.noreply.github.com
    useConfigOnly = true
    signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINz0Twq6EzcXDhQEQfE2IfiXEJ8ftOLAoibx6XN9dNDZ

[init]
    defaultBranch = main

[gpg]
    format = ssh
{{ if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" }}
[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"
{{ end }}
[commit]
    gpgSign = true

[push]
    autoSetupRemote = true

[fetch]
    prune = true
